body {
	background-color: black;
	color: white;
}
h1 {
	display: flex;
	justify-content: center;
}
form {
	display: flex;
	justify-content: center;
}
#gifContainer {
	display: flex;
	justify-content: center;
}
#submit {
	background-color: chartreuse;
	padding: 10px;
	border-radius: 20%;
	border: none;
	font-weight: bold;
	font-size: 1.3em;
}
#remove {
	background-color: red;
	padding: 10px;
	border-radius: 20%;
	border: none;
	font-weight: bold;
	font-size: 1.3em;
}
#submit:hover {
	background-color: seagreen;
}
#remove:hover {
	background-color: maroon;
}
